Loading the dataset

In [6]:
import pandas as pd

# Load the dataset, skipping the first 10 rows
# This assumes your CSV file is in the same directory as your Python script or notebook
df = pd.read_excel('Admission.xlsx', skiprows=5)

# Print the first few rows (the header and some data) of the loaded dataset
print(df.head(20))

    no                 formid   index_no                      name ge uace_  \
0    1   25APF900350094290048  U2789/905         NIMUSIIMA SANDRAH  F  2024
1    2   25APF561140686250786  U0025/529   BULUKUKU DANIEL EPHRAIM  M  2014
2    3   25APF530278631275455  U2977/518         MIREMBE ELIZABETH  F  2024
3    4  25APF1346250173272930  U1664/712          NAMATA    MARTHA  F  2024
4    5  25APF1553620758303031  U0004/754            NAKALEMA JOYCE  F  2024
5    6  25APF1537469809268568  U2000/501              AGABA MARVIN  M  2024
6    7    25APF10681047294195  U1664/585           EDENI PRISCILLA  F  2024
7    8  25APF1652505897285843  U0742/607         NAMAGANDA SHITRAH  F  2024
8    9  25APF1647383334301940  U3216/541            AYEBALE ESTHER  F  2024
9   10   25APF984114651285328  U2732/507          MASEREKA GILBERT  M  2024
10  11   25APF577994830291646  U3687/528      NABWAMI VENESSA MARY  F  2024
11  12   25APF384641141289301  U1716/512      NANKANJA  IMMACULATE  F  2024
12  13  25APF1697288461304543  U0036/784              APIO  JULIET  F  2023
13  14   25APF201140512278646  U0064/631            JULIUS ENGWEDU  M  2024
14  15   25APF888115242307791  U0742/659  SSERUNYIIGO RASHID SSOZI  M  2024
15  16   25APF492651707299002  U1297/509    NALWADDA RONITAH ANGEL  F  2024
16  17  25APF1466754002295418  U0083/682            TAYEBWA SHIMON  F  2024
17  18   25APF473906968296919  U2789/822      ACIO  NAUME  DOLLICA  F  2024
18  19  25APF1470011917308002  U0482/522           ARINDA PLEASANT  F  2024
19  20    25APF40442339304544  U2261/509             BAAKO BENITAH  F  2024

   dcode      dname course_code            course_name tot_wt
0     55     WAKISO         ACC  BSC. Accounting (EVE)   42.7
1     93     KIBUKU         ACC  BSC. Accounting (EVE)   42.3
2     16    KAMPALA         ACC  BSC. Accounting (EVE)   41.1
3     33     MASAKA         ACC  BSC. Accounting (EVE)   40.7
4     33     MASAKA         ACC  BSC. Accounting (EVE)   40.3
5     46   NTUNGAMO         ACC  BSC. Accounting (EVE)   39.9
6      3       ARUA         ACC  BSC. Accounting (EVE)   39.8
7     10     IGANGA         ACC  BSC. Accounting (EVE)   39.6
8     32    LUWEERO         ACC  BSC. Accounting (EVE)   39.6
9     21     KASESE         ACC  BSC. Accounting (EVE)   39.4
10   101     LWENGO         ACC  BSC. Accounting (EVE)   39.4
11    16    KAMPALA         ACC  BSC. Accounting (EVE)   38.4
12    67    BUKEDEA         ACC  BSC. Accounting (EVE)   38.2
13    53     SOROTI         ACC  BSC. Accounting (EVE)   38.2
14    42     MUKONO         ACC  BSC. Accounting (EVE)     38
15    33     MASAKA         ACC  BSC. Accounting (EVE)     38
16    50  RUKUNGIRI         ACC  BSC. Accounting (EVE)   37.8
17     2       APAC         ACC  BSC. Accounting (EVE)   37.7
18   103    MITOOMA         ACC  BSC. Accounting (EVE)   37.6
19     3       ARUA         ACC  BSC. Accounting (EVE)   37.5

In [2]:
# Rename columns for clarity
df = df.rename(columns={
    'no': 'Record_Number', # Adding this for consistency as 'no' is not very descriptive
    'formid': 'Form_ID',
    'index_no': 'Index_Number',
    'name': 'Student_Name',
    'ge': 'Gender',
    'uace_': 'UACE_Year',
    'dcode': 'District_Code',
    'dname': 'District_Name',
    'course_code': 'Course_Code',
    'course_name': 'Course_Name',
    'tot_wt': 'Total_Weight'
})

print("DataFrame after renaming columns (first 5 rows):")
print(df.head())

DataFrame after renaming columns (first 5 rows):
  Record_Number                Form_ID Index_Number             Student_Name  \
0             1   25APF900350094290048    U2789/905        NIMUSIIMA SANDRAH
1             2   25APF561140686250786    U0025/529  BULUKUKU DANIEL EPHRAIM
2             3   25APF530278631275455    U2977/518        MIREMBE ELIZABETH
3             4  25APF1346250173272930    U1664/712         NAMATA    MARTHA
4             5  25APF1553620758303031    U0004/754           NAKALEMA JOYCE

  Gender UACE_Year District_Code District_Name Course_Code  \
0      F      2024            55        WAKISO         ACC
1      M      2014            93        KIBUKU         ACC
2      F      2024            16       KAMPALA         ACC
3      F      2024            33        MASAKA         ACC
4      F      2024            33        MASAKA         ACC

             Course_Name Total_Weight
0  BSC. Accounting (EVE)         42.7
1  BSC. Accounting (EVE)         42.3
2  BSC. Accounting (EVE)         41.1
3  BSC. Accounting (EVE)         40.7
4  BSC. Accounting (EVE)         40.3

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20245 entries, 0 to 20244
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Record_Number  20086 non-null  object
 1   Form_ID        19927 non-null  object
 2   Index_Number   19927 non-null  object
 3   Student_Name   19927 non-null  object
 4   Gender         19927 non-null  object
 5   UACE_Year      19927 non-null  object
 6   District_Code  19905 non-null  object
 7   District_Name  19927 non-null  object
 8   Course_Code    19927 non-null  object
 9   Course_Name    19928 non-null  object
 10  Total_Weight   19927 non-null  object
dtypes: object(11)
memory usage: 1.7+ MB

In [4]:
df.describe()

,Record_Number,Form_ID,Index_Number,Student_Name,Gender,UACE_Year,District_Code,District_Name,Course_Code,Course_Name,Total_Weight
count,20086,19927,19927,19927,19927,19927,19905,19927,19927,19928,19927
unique,1058,19769,19354,19561,3,28,126,127,161,160,447
top,1,formid,index_no,name,F,2024,55,WAKISO,BBA,Bachelor of Business Administration,tot_wt
freq,160,159,159,159,11281,17617,2354,2358,899,1001,159

In [5]:
df.isnull().sum()

Record_Number    159
Form_ID          318
Index_Number     318
Student_Name     318
Gender           318
UACE_Year        318
District_Code    340
District_Name    318
Course_Code      318
Course_Name      317
Total_Weight     318
dtype: int64

#### Cleaning the dataset

In [7]:
# Step 1: Identify all program sections in the sheet
# We'll detect rows where only one non-null cell exists and contains a program name
program_rows = df_raw[df_raw.notna().sum(axis=1) == 1]
# Extract the program names from these rows
program_names = program_rows.iloc[:, 0].tolist()

NameError: name 'df_raw' is not defined