Loading the dataset

In [5]:
import pandas as pd

# Load the dataset, skipping the first 10 rows
# This assumes your CSV file is in the same directory as your Python script or notebook
df = pd.read_excel('Admission.xlsx', skiprows=5)

# Print the first few rows (the header and some data) of the loaded dataset
print(df.head())

  no                 formid   index_no                     name ge uace_  \
0  1   25APF900350094290048  U2789/905        NIMUSIIMA SANDRAH  F  2024
1  2   25APF561140686250786  U0025/529  BULUKUKU DANIEL EPHRAIM  M  2014
2  3   25APF530278631275455  U2977/518        MIREMBE ELIZABETH  F  2024
3  4  25APF1346250173272930  U1664/712         NAMATA    MARTHA  F  2024
4  5  25APF1553620758303031  U0004/754           NAKALEMA JOYCE  F  2024

  dcode    dname course_code            course_name tot_wt
0    55   WAKISO         ACC  BSC. Accounting (EVE)   42.7
1    93   KIBUKU         ACC  BSC. Accounting (EVE)   42.3
2    16  KAMPALA         ACC  BSC. Accounting (EVE)   41.1
3    33   MASAKA         ACC  BSC. Accounting (EVE)   40.7
4    33   MASAKA         ACC  BSC. Accounting (EVE)   40.3

In [2]:
# Split lines and assume each line is a row
lines = []
for text in text_data:
    lines.extend(text.split('\n'))

# Remove empty lines and preview
lines = [line.strip() for line in lines if line.strip()]
lines[:5]

['Secondary School', 'Code', 'Institution Name', 'Address', 'District']

In [3]:
# Sample parsing logic (customize as per your format)
data = [line.split('\t') for line in lines]  # or line.split(',') if comma-separated

# Convert to DataFrame
df = pd.DataFrame(data)

# Preview
df.head()

                  0
0  Secondary School
1              Code
2  Institution Name
3           Address
4          District

In [4]:
df.to_csv('output_data.csv', index=False)
# Save DataFrame to CSV
print("Data saved to 'output_data.csv'.")

Data saved to 'output_data.csv'.

In [5]:
# Load
df = pd.read_csv('output_data.csv')

# Basic preprocessing
df = df.dropna()  # remove missing rows
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')  # clean column names

# Preview
df.head()

                  0
0  Secondary School
1              Code
2  Institution Name
3           Address
4          District